footer.page-footer.center-on-small-only
  // Footer Links
  .container-fluid
    .row
      // First column
      .col-md-3.offset-md-1
        h5.title ABOUT SAPMOVIE
        p Nội dung website được làm gì đó 
        .fb-page(data-href='https://www.facebook.com/HanhTrinhBiAn', data-width='380', data-hide-cover='false', data-show-facepile='true', data-show-posts='false')

      // /.First column
      hr.hidden-md-up
      // Second column
      .col-md-2.offset-md-1
        h5.title Phim lẻ
        ul
          li
            a(href='#!') Top IDB 2016
          li
            a(href='#!') Top IDB 2015
          li
            a(href='#!') Top IDB 2014
          li
            a(href='#!') Top IDB 2013
      // /.Second column
      hr.hidden-md-up
      // Third column
      .col-md-2
        h5.title Phim bộ
        ul
          li
            a(href='#!') Phim Mỹ
          li
            a(href='#!') Phim Việt Nam
          li
            a(href='#!') Phim Trung Quốc
          li
            a(href='#!') Phim Hồng Kông
      // /.Third column
      hr.hidden-md-up
      // Fourth column
      .col-md-2
        h5.title Tin tức
        ul
          li
            a(href='#!') Tin hot
          li
            a(href='#!') Nhân vật
          li
            a(href='#!') Sự kiện
          li
            a(href='#!') Review
      // /.Fourth column
  // /.Footer Links
  hr
  // Call to action
  .call-to-action
    h4 Trang thông tin phim ảnh SapMovie
    ul
      li
        h5 Kết nối với chúng tôi
      li
        a.icons-sm.fb-ic
          i.fa.fa-facebook  
      li
        a.icons-sm.tw-ic
          i.fa.fa-twitter  
      li
        a.icons-sm.gplus-ic
          i.fa.fa-google-plus  
  // /.Call to action
  // Copyright
  .footer-copyright
    .container-fluid
      | © 2015 Copyright: 
      a(href='')  MovieVP.com 
  // /.Copyright
