.container(style='margin-top: 5rem;')
  // Nội dung
  .col-lg-8
    .card.row
      | Thong tin bai viet nam o day
    .row
      | Goi y cac bai biet o day chua biet nen sap xep nhu the nao
      // Section: Blog v.3
      section.section.extra-margins
        // First row
        .row
          // First column
          .col-md-5.mb-r
            // Featured image
            .view.overlay.hm-white-slight
              img(src='http://mdbootstrap.com/images/regular/people/img%20(88).jpg')
              a
                .mask
          // /First column
          // Second column
          .col-md-7.mb-r
            // Excerpt
            a.pink-text(href='')
              h5
                i.fa.fa-heart
                | Lifestyle
            h4 Interpersonal communication - what is your style?
            p
              | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.
            p
              | by 
              a
                strong Jessica Clark
              | , 26/08/2016
            a.btn.btn-primary Read more
          // /Second column
        // /First row
        hr
        // Second row
        .row
          // First column
          .col-md-5.mb-r
            // Featured image
            .view.overlay.hm-white-slight
              img(src='http://mdbootstrap.com/images/regular/food/img%20(14).jpg')
              a
                .mask
          // /First column
          // Second column
          .col-md-7.mb-r
            // Excerpt
            a.light-green-text(href='')
              h5
                i.fa.fa-plane
                | Travels
            h4 Food culture - explore the rituals of eating in the world.
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident et dolorum fuga.
            p
              | by 
              a
                strong Jessica Clark
              | , 24/08/2016
            a.btn.btn-primary Read more
          // /Second column
        // /Second row
        hr
        // Third row
        .row
          // First column
          .col-md-5.mb-r
            // Featured image
            .view.overlay.hm-white-slight
              img(src='http://mdbootstrap.com/images/regular/nature/img%20(78).jpg')
              a
                .mask
          // /First column
          // Second column
          .col-md-7.mb-r
            // Excerpt
            a.light-blue-text(href='')
              h5
                i.fa.fa-camera
                | Photography
            h4 10 tips on how to photograph the lake.
            p
              | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
            p
              | by 
              a
                strong Jessica Clark
              | , 21/08/2016
            a.btn.btn-primary Read more
          // /Second column
        // /Third row
      // /Section: Blog v.3
  // End nội dung
  // Quảng cáo
  .col-lg-4
    | Chèn cái fanpage vào đây
    img(src='https://tpc.googlesyndication.com/simgad/15756040091260041490')
  // End quảng cáo
