.container(style='margin-top: 5rem;')
  // Nội dung
  .col-lg-8
    .card.row
      // Card content
      .card-block
        // Section: Features v.1
        section.section.feature-box(style='margin-bottom: 0px;')
          // First row
          .row.features-big
            // First column
            .col-md-3.mb-r
              i.fa.fa-area-chart.blue-text
              h6.feature-title Tin ngắn
            // /First column
            // Second column
            .col-md-3.mb-r
              i.fa.fa-book.green-text
              h6.feature-title Viết bài
            // /Second column
            // Third column
            .col-md-3.mb-r
              i.fa.fa-coffee.red-text
              h6.feature-title Đăng video
            // /Third column
            // Fourth column
            .col-md-3.mb-r
              i.fa.fa-lock.orange-text
              h6.feature-title Bình luận
            // /Fourth column
          // /First row
        // /Section: Features v.1
      // /.Card content
    .row
      // Nav tabs
      ul.flex-center.nav.nav-tabs.md-pills.pills-ins(role='tablist')
        li.nav-item
          a.nav-link.active(data-toggle='tab', href='#panel11', role='tab')
            i.fa.fa-user
            |  Mới nhất
        li.nav-item
          a.nav-link(data-toggle='tab', href='#panel12', role='tab')
            i.fa.fa-heart
            |  Châu Á
        li.nav-item
          a.nav-link(data-toggle='tab', href='#panel13', role='tab')
            i.fa.fa-envelope
            |  Quốc tế
        li.nav-item
          a.nav-link(data-toggle='tab', href='#panel14', role='tab')
            i.fa.fa-envelope
            |  Video
      // Tab panels
      .tab-content
        // Panel 1
        #panel11.tab-pane.fade.in.active(role='tabpanel')
          // Section: Blog v.4
          section.section.section-blog-fw
            // First row
            .row
              .col-md-12
                // Featured image
                .view.overlay.hm-white-slight
                  img(src='http://mdbootstrap.com/images/slides/slide%20(42).jpg')
                  a
                    .mask
                // Post data
                .jumbotron
                  h2
                    a Journey of my life - three months in the Amazon jungle.
                  // Social shares
                  .social-counters
                    // Facebook
                    a.btn.btn-fb
                      i.fa.fa-facebook.left
                      span.hidden-md-down Facebook
                    span.counter 46
                    // Google+
                    a.btn.btn-gplus
                      i.fa.fa-google-plus.left
                      span.hidden-md-down Google+
                    span.counter 31
                    // Comments
                    a.btn.btn-default
                      i.fa.fa-comments-o.left
                      span.hidden-md-down Comments
                    span.counter 18
                  // /.Social shares
                // /Post data
            // /First row
            hr
            // Second row
            .row
              .col-md-12
                // Featured image
                .view.overlay.hm-white-slight
                  img(src='http://mdbootstrap.com/images/slides/slide%20(43).jpg')
                  a
                    .mask
                // Post data
                .jumbotron
                  h2
                    a The beauty of the mountain nature.
                  // Social shares
                  .social-counters
                    // Facebook
                    a.btn.btn-fb
                      i.fa.fa-facebook.left
                      span.hidden-md-down Facebook
                    span.counter 23
                    // Google+
                    a.btn.btn-gplus
                      i.fa.fa-google-plus.left
                      span.hidden-md-down Google+
                    span.counter 19
                    // Comments
                    a.btn.btn-default
                      i.fa.fa-comments-o.left
                      span.hidden-md-down Comments
                    span.counter 34
                  // /.Social shares
                // /Post data
            // /Second row
            hr
          // /Section: Blog v.4
        // /.Panel 1
        // Panel 2
        #panel12.tab-pane.fade(role='tabpanel')
          // Section: Blog v.4
          section.section.section-blog-fw
            // First row
            .row
              .col-md-12
                // Featured image
                .view.overlay.hm-white-slight
                  img(src='http://mdbootstrap.com/images/slides/slide%20(42).jpg')
                  a
                    .mask
                // Post data
                .jumbotron
                  h2
                    a Journey of my life - three months in the Amazon jungle.
                  // Social shares
                  .social-counters
                    // Facebook
                    a.btn.btn-fb
                      i.fa.fa-facebook.left
                      span.hidden-md-down Facebook
                    span.counter 46
                    // Google+
                    a.btn.btn-gplus
                      i.fa.fa-google-plus.left
                      span.hidden-md-down Google+
                    span.counter 31
                    // Comments
                    a.btn.btn-default
                      i.fa.fa-comments-o.left
                      span.hidden-md-down Comments
                    span.counter 18
                  // /.Social shares
                // /Post data
            // /First row
            hr
            // Second row
            .row
              .col-md-12
                // Featured image
                .view.overlay.hm-white-slight
                  img(src='http://mdbootstrap.com/images/slides/slide%20(43).jpg')
                  a
                    .mask
                // Post data
                .jumbotron
                  h2
                    a The beauty of the mountain nature.
                  // Social shares
                  .social-counters
                    // Facebook
                    a.btn.btn-fb
                      i.fa.fa-facebook.left
                      span.hidden-md-down Facebook
                    span.counter 23
                    // Google+
                    a.btn.btn-gplus
                      i.fa.fa-google-plus.left
                      span.hidden-md-down Google+
                    span.counter 19
                    // Comments
                    a.btn.btn-default
                      i.fa.fa-comments-o.left
                      span.hidden-md-down Comments
                    span.counter 34
                  // /.Social shares
                // /Post data
            // /Second row
            hr
          // /Section: Blog v.4
        // /.Panel 2
        // Panel 3
        #panel13.tab-pane.fade(role='tabpanel')
          // Section: Blog v.4
          section.section.section-blog-fw
            // First row
            .row
              .col-md-12
                // Featured image
                .view.overlay.hm-white-slight
                  img(src='http://mdbootstrap.com/images/slides/slide%20(42).jpg')
                  a
                    .mask
                // Post data
                .jumbotron
                  h2
                    a Journey of my life - three months in the Amazon jungle.
                  // Social shares
                  .social-counters
                    // Facebook
                    a.btn.btn-fb
                      i.fa.fa-facebook.left
                      span.hidden-md-down Facebook
                    span.counter 46
                    // Google+
                    a.btn.btn-gplus
                      i.fa.fa-google-plus.left
                      span.hidden-md-down Google+
                    span.counter 31
                    // Comments
                    a.btn.btn-default
                      i.fa.fa-comments-o.left
                      span.hidden-md-down Comments
                    span.counter 18
                  // /.Social shares
                // /Post data
            // /First row
            hr
            // Second row
            .row
              .col-md-12
                // Featured image
                .view.overlay.hm-white-slight
                  img(src='http://mdbootstrap.com/images/slides/slide%20(43).jpg')
                  a
                    .mask
                // Post data
                .jumbotron
                  h2
                    a The beauty of the mountain nature.
                  // Social shares
                  .social-counters
                    // Facebook
                    a.btn.btn-fb
                      i.fa.fa-facebook.left
                      span.hidden-md-down Facebook
                    span.counter 23
                    // Google+
                    a.btn.btn-gplus
                      i.fa.fa-google-plus.left
                      span.hidden-md-down Google+
                    span.counter 19
                    // Comments
                    a.btn.btn-default
                      i.fa.fa-comments-o.left
                      span.hidden-md-down Comments
                    span.counter 34
                  // /.Social shares
                // /Post data
            // /Second row
            hr
          // /Section: Blog v.4
        // /.Panel 3
        // Panel 4
        #panel14.tab-pane.fade(role='tabpanel')
          // Section: Blog v.4
          section.section.section-blog-fw
            // First row
            .row
              .col-md-12
                // Featured image
                .view.overlay.hm-white-slight
                  img(src='http://mdbootstrap.com/images/slides/slide%20(42).jpg')
                  a
                    .mask
                // Post data
                .jumbotron
                  h2
                    a Journey of my life - three months in the Amazon jungle.
                  // Social shares
                  .social-counters
                    // Facebook
                    a.btn.btn-fb
                      i.fa.fa-facebook.left
                      span.hidden-md-down Facebook
                    span.counter 46
                    // Google+
                    a.btn.btn-gplus
                      i.fa.fa-google-plus.left
                      span.hidden-md-down Google+
                    span.counter 31
                    // Comments
                    a.btn.btn-default
                      i.fa.fa-comments-o.left
                      span.hidden-md-down Comments
                    span.counter 18
                  // /.Social shares
                // /Post data
            // /First row
            hr
            // Second row
            .row
              .col-md-12
                // Featured image
                .view.overlay.hm-white-slight
                  img(src='http://mdbootstrap.com/images/slides/slide%20(43).jpg')
                  a
                    .mask
                // Post data
                .jumbotron
                  h2
                    a The beauty of the mountain nature.
                  // Social shares
                  .social-counters
                    // Facebook
                    a.btn.btn-fb
                      i.fa.fa-facebook.left
                      span.hidden-md-down Facebook
                    span.counter 23
                    // Google+
                    a.btn.btn-gplus
                      i.fa.fa-google-plus.left
                      span.hidden-md-down Google+
                    span.counter 19
                    // Comments
                    a.btn.btn-default
                      i.fa.fa-comments-o.left
                      span.hidden-md-down Comments
                    span.counter 34
                  // /.Social shares
                // /Post data
            // /Second row
            hr
          // /Section: Blog v.4
        // /.Panel 4
  // End nội dung
  // Quảng cáo
  .col-lg-4
    .fb-page(data-href='https://www.facebook.com/HanhTrinhBiAn', data-width='380', data-hide-cover='false', data-show-facepile='true', data-show-posts='false')
    img(src='https://tpc.googlesyndication.com/simgad/15756040091260041490')
  // End quảng cáo
