script(type="text/javascript", src="/vendor/mdbootstrap/jquery-2.2.3.min.js")
script(type="text/javascript", src="/vendor/mdbootstrap/tether.min.js")
script(type="text/javascript", src="/vendor/mdbootstrap/bootstrap.min.js")
script(type="text/javascript", src="/vendor/mdbootstrap/mdb.min.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
//- script(type="text/javascript", src="/vendor/mdangular/angular.min.js")
//- script(type="text/javascript", src="/vendor/mdangular/angular-animate.min.js")
//- script(type="text/javascript", src="/vendor/mdangular/angular-aria.min.js")
//- script(type="text/javascript", src="/vendor/mdangular/angular-messages.min.js")
//- script(type="text/javascript", src="/vendor/mdangular/angular-material.min.js")


script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-mocks/angular-mocks.js")

//Facebook
script(type="text/javascript", src="/vendor/angular-easyfb/build/angular-easyfb.min.js")

script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mvMainCtrl.js")
script(type="text/javascript", src="/app/main/mvMainService.js")

script(type="text/javascript", src="/app/common/mvNavBarCtrl.js")
script(type="text/javascript", src="/app/common/sidebarDirective.js")
script(type="text/javascript", src="/app/account/mvIdentity.js")
script(type="text/javascript", src="/app/common/mvNotifier.js")
script(type="text/javascript", src="/app/account/mvAuth.js")
script(type="text/javascript", src="/app/account/mvUser.js")
script(type="text/javascript", src="/app/account/mvProfileCtrl.js")

script(type="text/javascript", src="/app/news/mvTinTucCtrl.js")
script(type="text/javascript", src="/app/news/mvBaiVietCtrl.js")
script(type="text/javascript", src="/app/movies/mvSearchMovieCtrl.js")
script(type="text/javascript", src="/app/movies/mvXemPhimCtrl.js")
script(type="text/javascript", src="/app/movies/mvCategoryCtrl.js")
script(type="text/javascript", src="/app/movies/mvMovieService.js")

  
//- script(type='text/javascript').
//-   $(".button-collapse").sideNav();
//-   $('.button-collapse').sideNav({
//-   edge: 'right', // Choose the horizontal origin
//-   closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
//-   });
//-   // Show sideNav
//-   $('.button-collapse').sideNav('show');
//-   // Hide sideNav
//-   $('.button-collapse').sideNav('hide');


//- admin
//- script(type="text/javascript", src="/vendor/admin/jquery-migrate-1.2.1.min.js")
//- script(type="text/javascript", src="/vendor/admin/jquery.nanoscroller.min.js")
//- script(type="text/javascript", src="/vendor/admin/lightbox.js")
//- script(type="text/javascript", src="/vendor/admin/lodash.min.js")

//- script(type="text/javascript", src="/app/admin/mvAdminDashboardCtrl.js")

//- script(type="text/javascript", src="/vendor/admin/App.min.js")
//- end admin