// Section: Magazine v.2
section.section.magazine-section.container-fluid
  h1.section-heading Sắp diễn ra
  // First row
  .row.text-xs-left
    // First column
    .col-lg-6.col-md-12
      // Featured news
      .single-news
        // Image
        .view.overlay.hm-white-slight
          img(src='http://mdbootstrap.com/images/slides/slide%20(10).jpg')
          a
            .mask
        // Excerpt
        .news-data
          a.blue-text(href='')
            h5
              i.fa.fa-car
              |  Travels
          p
            strong
              i.fa.fa-clock-o
              |  27/02/2016
        h3
          a Discover the unique mountain world.
        p
          | Sed ut perspiciatis unde voluptatem omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae explicabo.
      // /Featured news
    // /First column
    // Second column
    .col-lg-6.col-md-12
      // Small news
      .single-news
        .row
          .col-md-3
            // Image
            .view.overlay.hm-white-slight
              img(src='http://mdbootstrap.com/images/regular/nature/img%20(75).jpg')
              a
                .mask
          // Excerpt
          .col-md-9
            p
              strong 26/02/2016
            a
              | How to prepare for an expedition to Mount Everest?
              i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        .row
          .col-md-3
            // Image
            .view.overlay.hm-white-slight
              img(src='http://mdbootstrap.com/images/regular/nature/img%20(74).jpg')
              a
                .mask
          // Excerpt
          .col-md-9
            p
              strong 25/02/2016
            a
              | Beautiful wild nature in Białowieża.
              i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        .row
          .col-md-3
            // Image
            .view.overlay.hm-white-slight
              img(src='http://mdbootstrap.com/images/regular/food/img%20(16).jpg')
              a
                .mask
          // Excerpt
          .col-md-9
            p
              strong 24/02/2016
            a
              | Various sweets in European countries.
              i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        .row
          .col-md-3
            // Image
            .view.overlay.hm-white-slight
              img(src='http://mdbootstrap.com/images/regular/nature/img%20(77).jpg')
              a
                .mask
          // Excerpt
          .col-md-9
            p
              strong 23/02/2016
            a
              | The most beautiful winter photography.
              i.fa.fa-angle-right
      // /Small news
    // /Second column
  // /First row
// /Section: Magazine v.2