// Thông tin đề cử Section: Magazine v.3
section.section.magazine-section.multi-columns.container-fluid
  h1.section-heading Đề cử
  // First row
  .row.text-xs-left
    // First column
    .col-lg-4.col-md-12.mb-r
      // Featured news
      .single-news
        // Image
        a.orange-text(href='')
          h5
            i.fa.fa-coffee
            |  Điện ảnh
        .view.overlay.hm-white-slight
          img(src='http://mdbootstrap.com/images/regular/people/img%20(78).jpg')
          a
            .mask
        a
          strong 6 Big Myths About Hydration.
          i.fa.fa-angle-right
      // /Featured news
      // Small news
      .single-news
        a
          | 24 Food Swaps That Slash Calories.
          i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        a
          | How to Make a Beet Cocktail?
          i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        a
          | 8 Sneaky Reasons You're Always Hungry.
          i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        a
          | 5 Pressure Cooker Recipes You Need to Try.
          i.fa.fa-angle-right
      // /Small news
    // /First column
    // Second column
    .col-lg-4.col-md-6.mb-r
      // Featured news
      .single-news
        // Image
        a.indigo-text(href='')
          h5
            i.fa.fa-camera
            |  Nhân vật
        .view.overlay.hm-white-slight
          img(src='http://mdbootstrap.com/images/regular/people/img%20(82).jpg')
          a
            .mask
        a
          strong Top 5 places for photographs.
          i.fa.fa-angle-right
      // /Featured news
      // Small news
      .single-news
        a
          | Trends in the blogosphere for 2016.
          i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        a
          | Where you eat the best lunch in Warsaw?
          i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        a
          | What camera take for holidays?
          i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        a
          | Why you should visit Lisbon?
          i.fa.fa-angle-right
      // /Small news
    // /Second column
    hr
    // Third column
    .col-lg-4.col-md-6.mb-r
      // Featured news
      .single-news
        // Image
        a.pink-text(href='')
          h5
            i.fa.fa-heart
            |  Review
        .view.overlay.hm-white-slight
          img(src='http://mdbootstrap.com/images/regular/people/img%20(81).jpg')
          a
            .mask
        a
          strong What colors fit to blonde girl?
          i.fa.fa-angle-right
      // /Featured news
      // Small news
      .single-news
        a
          | Top models in Poland.
          i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        a
          | London Fashion Week - see online.
          i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        a
          | Best bags designers in Italy.
          i.fa.fa-angle-right
      // /Small news
      // Small news
      .single-news
        a
          | Choose best swimsuit for summer.
          i.fa.fa-angle-right
      // /Small news
    // /Third column
  // /First row
// /Section: Magazine v.3