include CarouselVideo
include MagazineV2
include ProductsV5
include MagazineV3
include ProductsV5_1

.flex-center(style='height: auto')
  // Section heading
  img(src='http://cdn1.blueseed.tv/Img/2015/12/BlueSeed_728x90.jpg')

include ProductsV5_2
